/* Begin Header */
.header {
  background-color: #4e2a84;
  padding: 2.1rem 0;
  width: 100%;

  position: sticky;
  top: 0;
  left: 0;

  z-index: 2;
}

.header .header-brand {
  font-size: 3.4rem;
  line-height: 4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar-list .navbar-item {
  cursor: pointer;
  display: inline-block;
  padding: 0 1.4rem;
}

.navbar-item .link {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: all 0.5s;
}

.navbar-item:hover .link,
.navbar-item.active .link {
  color: #ff0e83;
}
/* End Header */

/* Begin Carousel */
.carousel {
  background: url("./../../images/b3.jpg") no-repeat center center;
  background-size: cover;
  background-clip: border-box;
  height: 68rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* End Carousel */

/* Begin Intro */
.intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* End Intro */

/* End Count */

/* Begin Service */
.service {
  background: url("./../../images/s1.jpg") no-repeat center center;
  background-size: cover;
  background-clip: border-box;
  height: 57.6rem;
}
/* End Service */

/* Begin Gallery */
.gallery {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gallery .gallery-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

.gallery-info .gallery-item {
  position: relative;
}

.gallery-item .gallery-detail {
  background-color: rgb(48 133 163 / 20%);
  text-align: right;
  padding: 2.8rem;

  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0.2rem;
  right: 0;
}

.gallery-detail h3 {
  transform: translateY(2.8rem);
  transition: all 0.3s;
}

.gallery-detail h3::after {
  content: "";
  display: block;
  height: 0.4rem;
  width: 100%;
  background-color: #ffffff;
  opacity: 0;
  transform: translateY(5.4rem);
  transition: all 0.3s;
}

.gallery-detail p {
  position: absolute;
  bottom: 0;
  right: 2.8rem;

  opacity: 0;
  transition: all 0.3s;
}

.gallery-item:hover .gallery-detail p {
  opacity: 1;
  bottom: 3rem;
}

.gallery-item:hover .gallery-detail h3 {
  transform: translateY(0);
}

.gallery-item:hover .gallery-detail h3::after {
  opacity: 1;
  transform: translateY(0.8rem);
}

/* End Gallery */

/* Begin Bake Team */
.bake-team {
  background-color: #4e2a84;
}

.bake-team .bake-team-item {
  position: relative;
  margin-bottom: 2.4rem;
}

.bake-team .bake-team-item:hover .bake-team-info {
  opacity: 0;
}

.bake-team .bake-team-item:hover .bake-team-overlay {
  opacity: 1;
}

.bake-team-item .bake-team-info,
.bake-team-item .bake-team-overlay {
  padding: 3rem;
  transition: all 0.5s;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
}

.bake-team-item .bake-team-info {
  background-color: #ff0e83;
}

.bake-team-item .bake-team-overlay {
  display: flex;
  align-items: center;
  height: 100%;

  opacity: 0;
}
/* End Bake Team */

/* Begin Testimonials */
.testimonials {
  background: url("./../../images/cc1.jpg") no-repeat center center;
  background-size: cover;
  background-clip: border-box;
  height: 46rem;
}

.testimonials .testimonials-info {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.4rem solid #ff0e83;
  padding: 3.2rem 3.2em 2.6rem;
}
/* End Testimonials */

/* Begin Footer */
.footer {
  color: #fff;
  background-color: #000;
}
/* End Footer */

/* Begin Back To Top */
.back-to-top {
  position: fixed;
  bottom: 2.4rem;
  right: 2.4rem;
}

.back-to-top a {
  opacity: 0;
}

.back-to-top i {
  color: #15a9b9;
  font-size: 4rem;
  line-height: 4rem;
}

.back-to-top .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.back-to-top .cd-top--fade-out {
  opacity: 0.5;
}
/* End Back To Top */
